ol
  li 发送 <code>mine</code> 或者 <code>我的活动</code> 查看你已经标记为要参加的活动
  li 发送 <code>wish</code> 查看你感兴趣的活动
  li 在搜索到活动后，发送 <code>mark [活动序号]</code> 把活动标记为要参加，或者 <code>wish [活动序号]</code> 标记对活动感兴趣。
      其中 [活动序号] 是活动标题前的数字或者活动标题里的关键字
p
  small 更多功能正在开发中，敬请期待
