ul.menu
  each item,i in main_menu
    if item.name === pagename
      li.on
        span #{item.title}
    else
      li
        a(href="/admin/#{item.name}") #{item.title}
  li.back-top
    a(href="#header") 回顶部
