extend base
include blocks/routes
include blocks/dialogs 

block article 
  mixin routes_sect(routes)
  mixin dialogs_sect(dialogs)

  //script#tmpl-route-item(type="text/tmpl")
  //script#tmpl-dialog-item(type="text/tmpl")
  script(src="http://img3.douban.com/js/packed_jquery.min6301986802.js")
  //script(src="/js/router.js")
  //script(src="/js/panel.js")
