extend base

block article 
  .stat #{counts.routes} Routes // #{counts.dialogs} Dialogs // #{counts.waits} Waiter rules
  style
    #sidebar { position: static; margin-bottom: 30px; }
    .menu { border: 0; padding: 0; }
    #sidebar li { display: inline-block; margin-right: 20px; }
    #sidebar li.back-top { display: none; }
