extend base

block article 
  .stat #{n_rules} Rules / #{n_wait_rules} Wait Rules
  style
    #sidebar { position: static; margin-bottom: 30px; }
    .menu { border: 0; padding: 0; }
    #sidebar li { display: inline-block; margin-right: 20px; }
    #sidebar li.back-top { display: none; }
