extend base

block article 
  form(method="post")
    fieldset.section
      h1 暂时不需要自动回复的人
        small (1小时后释放)
      p
        textarea(name="silented", row=5, cols=30)
          !{silented.join('\n')}
      p
        button.btn(type="submit") 保存
